@using Web_Projesi.Models
@model DanismanModel

@{
    ViewBag.Title = "BilgileriniDuzenle";
    Layout = "~/Views/Shared/_LoggedDanismanLayout.cshtml";
}


@if (ViewBag.Message != null)
{
    <label style="color:red">@ViewBag.Message</label>
}

@using (Html.BeginForm("BilgileriGuncelle", "LoggedDanisman", null, FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label for="Unvan">Unvan </label>
            <input type="text" class="form-control" name="Unvan" placeholder="Unvan" value="@Model.danisman.Unvan" />
        </div>
        <div class="form-group">
            <label for="Ad">Ad</label>
            <input type="text" class="form-control" name="Ad" placeholder="Ad" value="@Model.kdanisman.Ad" />
        </div>
        <div class="form-group">
            <label for="Soyad">Soyad</label>
            <input type="text" class="form-control" name="Soyad" placeholder="Soyad" value="@Model.kdanisman.Soyad" />
        </div>
        <div class="form-group">
            <label for="Sifre">Sifre</label>
            <input type="text" class="form-control" name="Sifre" placeholder="Sifre" value="@Model.kdanisman.Sifre" />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" name="Email" placeholder="Email" value="@Model.kdanisman.Email" />
        </div>
        <input class="btn btn-primary" style="margin-left:10px" type="submit" value="Güncelle" />

    </form>



}

