@model Web_Projesi.Models.Bekleyen_Kullanici

@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Transparent Login Form Responsive Widget Template</title>
    <link href="~/Content/Login_Page/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Transparent Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <!--web-fonts-->
    <link rel="Shortcut Icon" href="~/Content/Images/icon.ico" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>
    <!--header-->
    <div class="header-w3l">
        <h1> Tez Sistemi</h1>
    </div>
    <!--//header-->
    <!--main-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            @if (ViewBag.Message != null)
            {
                <script>
                  $(document).ready(function(){
                        alert('@ViewBag.Message');
                    });
                </script>
                if (string.Compare(ViewBag.Message, "Kayıt onaya gonderildi") == 0)
                {
                    <script>
                        $(document).ready(function(){
                        alert('@ViewBag.Message');
                    });
                    </script>
                    @Html.ActionLink("ANASAYFAYA DÖNMEK İÇİN TIKLAYINIZ.","Index", "Home")
                }
            }
            @using (Html.BeginForm("Register", "Login", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @style = "color:#ffffff" })
                <div class="container-fluid">
                    <div class="row" style="text-align:center">
                        <div class="col-md-12">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Kullanici_Adi, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kullanıcı Adı", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Kullanici_Adi, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                            </div>
                            <div class="form-group">
                                <div class="pass">
                                    @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Şifre", required = "required", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ad", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Soyad", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                            </div>
                            @*<br />
                                <div class="form-group" style="color:#808080; font-style:normal; font-weight:bold">
                                    <form class="row">
                                            <input type="radio" class="form-control" name="KullaniciTipi" value="Ogrenci" checked> Ogrenci
                                            <input type="radio" class="form-control" name="KullaniciTipi" value="Danisman"> Danisman
                                            <input type="radio" class="form-control" name="KullaniciTipi" value="Koordinator"> Koordinator
                                    </form>
                                    @Html.ValidationMessageFor(model => model.Kullanici_Tipi, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                                </div>*@
                            <div class="form-group" style="color:#808080; font-style:normal; font-weight:bold">

                                @Html.RadioButtonFor(model => model.Kullanici_Tipi, "Ogrenci", new { @checked = true, htmlAttributes = new { @class = "form-control" } })
                                <label> Ogrenci</label>
                                @Html.RadioButtonFor(model => model.Kullanici_Tipi, "Danisman", new { htmlAttributes = new { @class = "form-control" } })
                                <label> Danışman </label>
                                @Html.RadioButtonFor(model => model.Kullanici_Tipi, "Koordinatör", new { htmlAttributes = new { @class = "form-control" } })
                                <label> Koordinatör </label>
                                @Html.ValidationMessageFor(model => model.Kullanici_Tipi, "", new { @class = "text-danger", @style = "color:red; display: block; " })
                            </div>

                        </div>
                    </div>
                </div>
                <input type="submit" value="">
            }

        </div>



    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>Project</p>
    </div>
    <!--//footer-->

</body>
</html>
